body
{
	font-family: Arial;
	font-size:10px;
}

#input
{
	position:relative;
	width:150px;
	padding: 2pt;
	border:1px solid;
}

#reloj
{
	position:relative;
	vertical-align: bottom;
	visibility: hidden;
}

#lista
{
	width:180px;
	background-color:#ffffff;
	color:#000000;
	border:1px solid;
	border-color:#000000;
	z-index:1;
	display:none;
	margin-top: 5px;
}

#lista a
{
	display: block;
	background-color:#ffffff;
	padding: 2pt;
}

#lista a:hover
{
	background-color:#00aaaa;
}
